{% extends 'base.html.twig' %}

{% block title %}Edit Academy{% endblock %}

{% block body %}
    <h1>Edit Academy</h1>

    {{ include('academy/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('academy_index') }}">back to list</a>

    {{ include('academy/_delete_form.html.twig') }}
{% endblock %}
